:root {
  --mainBrown: #352627;
  --mainYellow: #ff9e09;
  --secondaryYellow: rgb(255, 99, 9);
  --mainGrey: #ece8dc;
  --mainWhite: #f7f7f7;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  margin: 0;
  box-sizing: border-box;
}

.text-yellow {
  color: var(--mainYellow);
}

.text-price {
  color: var(--secondaryYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background,
.about-background {
  background: linear-gradient(
    90deg,
    rgba(212, 105, 60, 0.5) 0%,
    rgba(24, 24, 24, 0.5) 91%
  );
  opacity: 1 !important;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-flex; /*Safari*/
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
}

.about-background {
  min-height: 60vh;
}

.btn-yellow,
.btn-yellow-menu {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow-menu:hover,
.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown);
}

.btn-yellow-menu {
  background-color: var(--mainWhite);
}

.footer {
  background: var(--mainBrown);
}

.menu,
.contact {
  background: var(--mainGrey);
}

.product-cards {
  min-height: 100%;
}

.product-image {
  max-height: 210px;
}
