:root {
  --mainBrown: #352627;
  --mainYellow: #ff9e09;
  --secondaryYellow: rgb(255, 99, 9);
  --mainGrey: #ece8dc;
  --mainWhite: #f7f7f7;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  margin: 0;
  box-sizing: border-box;
}

.text-yellow {
  color: var(--mainYellow);
}

.text-price {
  color: var(--secondaryYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
}

.btn-yellow,
.btn-yellow-menu {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow-menu:hover,
.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown);
}

.btn-yellow-menu {
  background-color: var(--mainWhite);
}

.footer {
  background: var(--mainBrown);
}

.menu,
.contact {
  background: var(--mainGrey);
}

.product-cards {
  min-height: 100%;
}

.product-image {
  max-height: 210px;
}
