:root {
  --mainBrown: #352627;
  --mainYellow: #ff9e09;
  --secondaryYellow: #ff6309;
  --mainGrey: #ece8dc;
  --mainWhite: #f7f7f7;
  --mainDark: #555555;
}

p {
  font-size: x-large;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  margin: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

.text-yellow {
  color: var(--mainYellow);
}

.text-price {
  color: var(--secondaryYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background,
.about-background {
  background: linear-gradient(
    90deg,
    rgba(212, 105, 60, 0.5) 0%,
    rgba(24, 24, 24, 0.5) 91%
  );
  opacity: 1 !important;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-flex; /*Safari*/
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
}

.about-background {
  min-height: 100vh;
}

.menu,
.contact {
  background: var(--mainGrey);
  padding-bottom: 3em;
}

.products {
  padding-bottom: 3em;
}

.product-cards {
  min-height: 100%;
}

.product-image {
  max-height: 210px;
}
